<%- include('partials/header.ejs', { title: name }) %>


<section class="home" id="home">
    <div class="home-text">
        <h1><span>Eatly Foods</span> <%= name %> </h1>
        <p> <%= description %> </p>
        <a href="#" class="btn">Order Now</a>
    </div>

    <div class="home-img">
        <img src= <%= path %> >
    </div>

</section>
















<%- include('partials/footer.ejs') %>